@import "../../../styles/theme";

.container {
}
.row {
	display: flex;
	flex-flow: row;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.sidebar_wrapper {
	height: 100vh;
	flex: 0.25;
	padding: 0;
}

.sidebar {
	height: 100%;
	width: 100%;
	background-color: $secondary-color;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2.5em;
}

.sidebar_item {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	padding: 0.2em;
	cursor: pointer;
}

.sidebar_item:hover {
	border: 1px solid slategray;
	border-radius: 1em;
}

.sidebar_link {
	text-decoration: none;
	color: #2c2929;
	font-size: 18px;
	letter-spacing: 0.1em;
}

.links_icon {
	width: 1em;
}

.children {
	flex: 0.85;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: $primary-color;
}

@media screen and (max-width: 500px) {
	.row {
		flex-flow: column;
	}
	.sidebar {
		height: 100%;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		gap: 1px;
	}

	.children {
		flex: 1;
		height: 100%;
	}

	.links_icon {
		width: 0.5em;
	}
}
